
@font-face {
  font-family: 'ACaslonPro-Regular';
  src: url('ACaslonPro-Regular.eot?#iefix') format('embedded-opentype'),  url('ACaslonPro-Regular.otf')  format('opentype'),
	     url('ACaslonPro-Regular.woff') format('woff'), url('ACaslonPro-Regular.ttf')  format('truetype'), url('ACaslonPro-Regular.svg#ACaslonPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
